@import "../../app.scss";

.about h1 {
	text-align: center;
	margin-bottom: 60px;
}

.about {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;

	.titlecont {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 380px;
		width: 800px;

		@include mobile {
			height: 380px;
			width: 100vw;

		}

		h1 {
			font-size: 70px;

			@include mobile {
				font-size: 50px;



			}
		}


		p {
			line-height: 1.8;
			text-align: center;
			font-size: 24px;
			color: #F0F0F0;

			@include mobile {
				line-height: 1.4;
				text-align: center;
				font-size: 20px;
				width: calc(100% - 10px);
				margin: 5px;
				white-space: wrap;

			}
		}
	}
}